body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}
header{
    position: sticky;
    top: 0%;
    background-color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    box-shadow: 2px 2px 10px 0px gray;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 18px;
}
.btn1{
    width: 100px;
    color: #FCC822;
    border: 2px solid #FCC822;
    background-color: white;
    padding: 10px;
}

#section1{
    position: relative;
}
#hero{
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-evenly;
    height: 630px;
}
.head{
    font-size: 57.16px;
    font-weight: 500;
    line-height: 43.54px;
}
.hero-mid{
    display: flex;
    align-items: center;
}
.para{
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 30px;
}
hr{
    transform: rotate(180deg);
    height: 40px;
    margin:0px;
}
.btn2{
    width: max-content;
    background: linear-gradient(95.34deg, #FCC822 0%, #FFCD2E 100%);
    border: none;
    color: white;
    padding: 10px 20px;
}
.hero-img{
    object-fit: cover; 
    height: 500px;
    padding-left: 50px;
}

#section2{
    position: absolute;
    top: 50px;
}
#Badge{
    display: none;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    width: 1100px;
    padding-inline:50px;
    margin:50px 150px;
    position: relative;
    background-color: white;
}

#Badge > i{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
}
.close{
    display: none;
    padding: 5px 8px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.categories > div input{
    display: none; 
}
.categories input + label{
    padding: 12px;
}
.categories input:checked + label{
    background-color: #FCC822;
    font-weight: 500;
    border-radius: 10px;
} 
.categories input:not(:checked) + label{
    background-color: gray;
    font-weight: 500;
    border-radius: 10px;
}
.categories input:checked + label > .close{
    display: inline-block;
}

.chips{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn3{
    width: max-content;
    background: linear-gradient(95.34deg, #FCC822 0%, #FFCD2E 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    right: 40px;
}
.options{
    display: flex;
}
.option{
    margin: 15px;
    padding: 10px;
}
.option label{
    background-color: gray;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.option input{
    display: none;
}
.option input:checked + label{
    background-color: #FCC822;
}

.question-section{
    display: none;
    position: absolute;
    top: 400px;
}